/* taskProfile.css */

/* Ustawienia dla kontenera */
.container {
    max-width: 800px;
    margin-top: 50px;
}

/* Stylizacja nagłówka strony */
h1 {
    color: #333;
    font-size: 2.5rem;
    text-align: center;
}

/* Stylizacja karty z informacjami o zadaniu */
.card {
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 1.8rem;
    color: #333;
}

.card-text {
    font-size: 1.2rem;
    color: #555;
}

/* Stylizacja nawigacji */
.navbar {
    margin-bottom: 20px;
}

/* Stylizacja przycisku Logout */
.navbar .form-inline button {
    font-size: 1rem;
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid white;
}

/* Stylizacja na hover dla przycisku Logout */
.navbar .form-inline button:hover {
    background-color: white;
    color: #333;
}

/* Dodatkowe marginesy dla linku do strony głównej i przycisku logout */
.navbar-brand {
    margin-right: 20px;
    font-size: 1.5rem;
}

.ml-auto {
    margin-left: auto;
}
