/* userForm.css */

/* Stylizacja kontenera */
.container {
    max-width: 600px;
    margin-top: 50px;
}

/* Stylizacja nagłówka */
h1 {
    color: #333;
    font-size: 2.5rem;
    text-align: center;
}

/* Stylizacja pól formularza */
.form-group label {
    font-weight: bold;
}

.form-control {
    border-radius: 5px;
    padding: 10px;
}

/* Stylizacja błędów formularza */
.text-danger {
    color: #dc3545;
}

/* Stylizacja przycisku wylogowania */
.navbar .form-inline button {
    font-size: 1rem;
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid white;
}

/* Stylizacja na hover dla przycisku wylogowania */
.navbar .form-inline button:hover {
    background-color: white;
    color: #333;
}

/* Dodatkowe marginesy dla linku do strony głównej i przycisku logout */
.navbar-brand {
    font-size: 1.5rem;
}
.ml-auto {
    margin-left: auto;
}
